<div class="item row animate__animated animate__fadeIn">
  <a class="col-md-4 col-sm-4 col-xs-12"
     routerLink="/main/projects/{{project.id}}">
    <img class="img-responsive project-image" [src]="project.images[0]"
         [alt]="project.projectName"/>
  </a>
  <div class="desc col-md-8 col-sm-8 col-xs-12">
    <h3 class="title">
      <a
        routerLink="/main/projects/{{project.id}}">
        {{project.projectName}}
      </a>
    </h3>
    <p>{{project.projectDetail}}</p>
    <p><a class="more-link"
          routerLink="/main/projects/{{project.id}}">
      <i class="fa fa-external-link"></i> View Details</a></p>
  </div>
</div>
