<div class="latest" *ngIf="projectDetailsData">
  <div class="item featured text-center">
    <h3 class="title">
      {{projectDetailsData.projectName}}
    </h3>
    <p class="summary">{{projectDetailsData.client}}</p>
    <div class="featured-image">
      <swiper style="--swiper-navigation-color: #B5B5C3;--swiper-pagination-color: #B5B5C3"
              [loop]="true"
              [navigation]="true"
              >
        <ng-template swiperSlide *ngFor="let img of projectDetailsData.images">
          <img [src]="img" style="width: 100%"/>
        </ng-template>
      </swiper>
      <div class="ribbon">
        <div class="text">{{projectDetailsData.type}}</div>
      </div>
    </div>


    <div class="desc text-left">
      <p>Made By {{projectDetailsData.coreDevelopment}}</p>
      <p>{{projectDetailsData.projectDetail}}</p>
    </div>
  </div>
</div>

<div class="latest" *ngIf="!projectDetailsData">
  <app-alert alertTitle="Sorry!!" alertMessage="No Project With This Id!!!!!"></app-alert>
</div>
