<header class="header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" [src]="headerData.profileImage" [alt]="headerData.name"/>
    <div class="profile-content pull-left">
      <h1 class="name">{{headerData.name}}</h1>
      <h2 class="desc">{{headerData.position}}</h2>
      <ul class="social list-inline">
        <li *ngFor="let social of headerData.socialLinks">
          <a [href]="social.link"><i class="fa {{social.fontAwesomeIcon}}"></i></a>
        </li>
      </ul>
    </div><!--//profile-->
    <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i
      class="fa fa-paper-plane"></i> Contact Me</a>
  </div><!--//container-->
</header><!--//header-->
