<header class="header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" [src]="headerData.profileImage" [alt]="headerData.name"/>
    <div class="profile-content pull-left">
      <h1 class="name">{{headerData.name}}</h1>
      <h2 class="desc">{{headerData.position}}</h2>
      <ul class="social list-inline">
        <li *ngFor="let social of headerData.socialLinks">
          <a [href]="social.link" target="_blank"><i class="fa {{social.fontAwesomeIcon}}"></i></a>
        </li>
      </ul>
    </div>
    <button class="pull-right" mat-raised-button color="primary" (click)="downloadURI(headerData.cvPath, 'FrontEnd Developer - Amr Mossad CV')">
      <i class="fa  fa-download"></i>
      Download My CV
    </button>
  </div>
</header>
