<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <app-card [cardName]="'About Me'" class="about">
        <p *ngFor="let brief of aboutMeBriefData.data">
          {{brief}}
        </p>
      </app-card>
      <app-card [cardName]="'Latest Projects'" class="latest">
        <div class="item featured text-center">
          <h3 class="title"><a
            href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm"
            target="_blank">KickStarter - Potato Salad App</a></h3>
          <p class="summary">A mobile app to help you make delicious potato salad</p>
          <div class="featured-image">
            <a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm"
               target="_blank">
              <img class="img-responsive project-image" src="assets/Tools/images/projects/project-featured.png"
                   alt="project name"/>
            </a>
            <div class="ribbon">
              <div class="text">App</div>
            </div>
          </div>

          <div class="desc text-left">
            <p>You can promote your main project here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis
              pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui
              tincidunt enim, eget iaculis ante dolor non turpis.</p>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
          </div><!--//desc-->
          <a class="btn btn-cta-secondary"
             href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm"
             target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>
        </div><!--//item-->
        <hr class="divider"/>
        <div class="item row">
          <a class="col-md-4 col-sm-4 col-xs-12"
             href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
             target="_blank">
            <img class="img-responsive project-image" src="assets/Tools/images/projects/project-4.png"
                 alt="project name"/>
          </a>
          <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title"><a
              href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
              target="_blank">Velocity - Designed for Products</a></h3>
            <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu
              turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui
              tincidunt enim, eget iaculis ante dolor non turpis.</p>
            <p><a class="more-link"
                  href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                  target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
          </div><!--//desc-->
        </div><!--//item-->

        <div class="item row">
          <a class="col-md-4 col-sm-4 col-xs-12"
             href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">
            <img class="img-responsive project-image" src="assets/Tools/images/projects/project-1.png"
                 alt="project name"/>
          </a>
          <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title"><a
              href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">Tempo
              - Designed for Startups</a></h3>
            <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu
              turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui
              tincidunt enim, eget iaculis ante dolor non turpis.</p>
            <p><a class="more-link"
                  href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm"
                  target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
          </div><!--//desc-->
        </div><!--//item-->

        <div class="item row">
          <a class="col-md-4 col-sm-4 col-xs-12"
             href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm"
             target="_blank">
            <img class="img-responsive project-image" src="assets/Tools/images/projects/project-2.png"
                 alt="project name"/>
          </a>
          <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title"><a
              href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm"
              target="_blank">Delta - Designed for Mobile Apps</a></h3>
            <p> You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies
              nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
            <p><a class="more-link"
                  href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm"
                  target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
          </div><!--//desc-->
        </div><!--//item-->

      </app-card>
      <app-card [cardName]="'Work Experience'" class="experience">
        <div class="item">
          <h3 class="title">Co-Founder & Lead Developer - <span class="place"><a href="#">Startup Hub</a></span>
            <span class="year">(2014 - Present)</span></h3>
          <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
            viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut
            libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
        </div><!--//item-->
        <div class="item">
          <h3 class="title">Software Engineer - <span class="place"><a href="#">Google</a></span> <span
            class="year">(2013 - 2014)</span></h3>
          <p>Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit
            pellentesque, mauris dui tincidunt enim. Sed fringilla mauris sit amet nibh. Donec sodales sagittis
            magna.</p>
        </div><!--//item-->
        <div class="item">
          <h3 class="title">Software Engineer - <span class="place"><a href="#">eBay</a></span> <span class="year">(2012 - 2013)</span>
          </h3>
          <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
            sed ipsum.</p>
        </div><!--//item-->
      </app-card>

    </div><!--//primary-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <app-aside class="info" [cardName]="'Basic Information'">
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-map-marker"></i>{{basicInfoData.data.address}}
          </li>
          <li>
            <i class="fa fa-envelope-o"></i><a
            href="mailto:{{basicInfoData.data.email}}">{{basicInfoData.data.email}}</a>
          </li>
          <li>
            <i class="fa fa-phone"></i><a href="tel:00201099049044">{{basicInfoData.data.phone}}</a>
          </li>
        </ul>
      </app-aside>

      <app-aside class="skills" [cardName]="'Skills'">
        <div class="skillset">
          <app-skill-item-card *ngFor="let skill of programmingSkillsData.data | slice:0:5"
                               [skillName]="skill.name"
                               [percentage]="skill.percentage"></app-skill-item-card>
          <button mat-raised-button color="primary" (click)="viewAllProgrammingSkills()">
            <i class="fa fa-external-link"></i> Show More Skills
          </button>
        </div>
      </app-aside>

      <app-aside class="education" [cardName]="'Education'">
        <div class="item">
          <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Psychology and Computer Science</h3>
          <h4 class="university">University College London <span class="year">(2011-2012)</span></h4>
        </div>
        <div class="item">
          <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Computer Science</h3>
          <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4>
        </div>
      </app-aside>
      <app-aside class="languages" [cardName]="'Languages'">
        <ul class="list-unstyled">
          <li class="item">
            <span class="title"><strong>English:</strong></span>
            <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> </span>
          </li><!--//item-->
          <li class="item">
            <span class="title"><strong>Spanish:</strong></span>
            <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star-half"></i></span>
          </li><!--//item-->
        </ul>
      </app-aside>
    </div>
  </div>
</div>
