<section id="hero" class="hero section light-background">
  <img [src]="headerData.data.profileImage" [alt]="headerData.data.name">
  <div class="container" data-aos="zoom-out">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2>{{ headerData.data.name }}</h2>
        <p>I'm <span class="typed">Software Engineer</span><span
          class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
        <div class="social-links">
          <a *ngFor="let social of headerData.data.socialLinks" [href]="social.link" target="_blank">
            <i [class]="social.fontAwesomeIcon"></i>
          </a>
          <a [href]="headerData.data.cvPath" download>Download My CV</a>
        </div>
      </div>
    </div>
  </div>
</section>
