
.swiper-container .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  background-color: rgba(255, 255, 255, .1);
  padding: 15px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;

  img {
    max-height: 100px;
  }
}

.swiper-overflow-container {
  overflow-x: hidden; /* prevent horizontal scroll */
}

.swiper-overflow-container .container {
  overflow: visible; /* if your container has overflow by default */
}

.swiper-overflow-container .swiper-container {
  overflow: visible; /* remove swiper container overflow */
}

.litly {
  cursor: pointer;
}
