/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-brand-bg: #0b1615;
  --color-brand-primary: #43BD81;
}

:root {
  --brand-primary: var(--color-brand-primary);
  background-color: #0b1615;
}

body {
  background-color: #0b1615;
  color: #f3f4f6; /* gray-100 */
}
